/* *{
    box-sizing: border-box;
} */

body{
    background-image: url("../../assets/images/background.jpg");
    height: 100%;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
}


#game-action{
  margin-left: 5%;
  font-style: bold;
  color: white;


}
#reset{
    margin: 5%;
    background-color: #2e6da4; 
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 25%;
}
#choices{
    margin-left: 10px;
}
.answer-button{
    background-color: #2e6da4;
    padding: 10px 16px;
    margin: 5px 25px;
}
.jumbotron{
    color: white;
    background-color: #2e6da4;
}